<div id='second_player_pane'>
  <div id='name_second' class="name"></div>
  <input id='sitDownSecond' type='submit' value='後手'>
  <div id='captive_second' class='captive'></div>
</div>

<section>
<table id='board'>
  <tr>
    <td><div id='a1' class='cell'></div></td>
    <td><div id='b1' class='cell'></div></td>
    <td><div id='c1' class='cell'></div></td>
  </tr>
  <tr>
    <td><div id='a2' class='cell'></div></td>
    <td><div id='b2' class='cell'></div></td>
    <td><div id='c2' class='cell'></div></td>
  </tr>
  <tr>
    <td><div id='a3' class='cell'></div></td>
    <td><div id='b3' class='cell'></div></td>
    <td><div id='c3' class='cell'></div></td>
  </tr>
  <tr>
    <td><div id='a4' class='cell'></div></td>
    <td><div id='b4' class='cell'></div></td>
    <td><div id='c4' class='cell'></div></td>
  </tr>
</table>
</section>

<div id='first_player_pane'>
  <div id='captive_first' class='captive'></div>
  <input id='sitDownFirst' type='submit' value='先手'>
  <div id='name_first' class="name"></div>
</div>

