body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  top : 0px;  
}

footer {
  clear : both;
  bottom : 0px;  
}

a {
  color: #00B7FF;
}

table#board {
  table-layout : fixed;
  float : left;
}

.cell {
  width  : 100px;
  height : 100px;
  border : solid 1px #000000;  
}

.captive {
  width : 110px;
  height : 500px;
  background-color : lightgray;
  float : left;  
}

.lion {
  background-color : #ff69b4;  
}

.giraffe {
  background-color : #9370db;  
}

.elephant {
  background-color : #7b68ee;  
}

.chick {
  background-color : #98fb98;  
}

.pollo {
  background-color : #f0e68c;  
}



