header {
  top : 0px;  
}

footer {
  clear : both;
  bottom : 0px;
  background-color : #000000;
  color : #ffffff;
  width : 100%;
  position : fixed;  
}

a {
  color: #00B7FF;
}

table#board {
  table-layout : fixed;
  float : left;
}

div#first_player_pane {
  float : left;
}

div#second_player_pane {
  float : left;
}

.name {
  background-color : #6495ed;
}

.cell {
  width  : 100px;
  height : 100px;
  border : solid 1px #000000;  
}

.captive {
  width : 110px;
  height : 500px;
  background-color : lightgray;
}

.lion {
  background-color : #ff69b4;
  width : 100px;
  height : 100px;  
}

.giraffe {
  background-color : #9370db;  
  width : 100px;
  height : 100px;  
}

.elephant {
  background-color : #7b68ee;  
  width : 100px;
  height : 100px;  
}

.chick {
  background-color : #98fb98;  
  width : 100px;
  height : 100px;  
}

.pollo {
  background-color : #f0e68c;  
  width : 100px;
  height : 100px;  
}



